<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body style="background: #B0B0B0">
<p id="notice"><%= notice %></p>
<table class="table table-hover my-class">
  <thead class="thead-dark">
  <tr>
    <th>Price</th>
    <th>Dispatch</th>
    <th>Destination</th>
  </tr>
  </thead>
  <tbody>
  <% @last.each do |last| %>
    <tr>
      <td><%= last.price %></td>
      <td><%= last.dispatch %></td>
      <td><%= last.destination %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<br>
<table class="table table-hover my-class">
  <thead class="thead-dark">
  <tr>
    <th>TOP-3</th>
    <th>Count</th>
  </tr>
  </thead>
  <tbody>
  <% @top.sort_by {|k, v| v}.reverse.take(3).each do |top| %>
    <tr>
      <td><%= top[0] %></td>
      <td><%= top[1] %></td>
    </tr>
  <% end %>
  </tbody>
</table>
</body>
</html>